<h1 mat-dialog-title>Writer format</h1>
<div mat-dialog-content>
    <form [formGroup]="platform" class="form1">
        <mat-form-field>
            <mat-label>Format</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      [formControl]="formatCtrl"
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="1"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Log level</mat-label>
            <mat-select [formControl]="placeHolderCtrl">
                <mat-option *ngFor="let placeholder of getPlaceholders()"
                            value="{{placeholder}}">{{placeholder}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addPlaceholder()">Add</button>
    </form>
    <span>{{getPlaceholder()?.value}}</span>
    <span>{{getPlaceholder()?.description}}</span>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="add()">{{data ? 'Save' : 'Add'}}</button>
</div>
