target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/app/utils/relayboard/config.yaml
/app/utils/relayboard/output24x16A.yaml
/app/utils/relayboard/x-output24x16A.yaml
/app/utils/rPi/config.yaml
/app/src/main/resources/temp/adc.yaml
/app/src/main/resources/temp/boneio.service
/app/src/main/resources/temp/config.yaml
/app/src/main/resources/temp/config.yaml.save
/app/src/main/resources/temp/config_optimized.yaml
/app/src/main/resources/temp/input.yaml
/app/src/main/resources/temp/input.yaml.save
/app/src/main/resources/temp/output24x16A.yaml
/app/src/main/resources/temp/output32x5A.yaml
/app/src/main/resources/temp/sensor.yaml
/app/src/main/resources/FONT_4X5
/app/src/main/resources/FONT_5x8
/app/src/main/resources/mock-board-info.properties
/app/src/main/resources/tiny.prop.json
/app/src/main/resources/boneIo/adc.yaml
/app/src/main/resources/boneIo/config.yaml
/app/src/main/resources/boneIo/config_optimized.yaml
/app/src/main/resources/boneIo/cover.yaml
/app/src/main/resources/boneIo/dallas-config.yaml
/app/src/main/resources/boneIo/dallas-config_optimized.yaml
/app/src/main/resources/boneIo/dallas-configOptimized.json
/app/src/main/resources/boneIo/input.yaml
/app/src/main/resources/boneIo/output24x16A.yaml
/app/src/main/resources/boneIo/output32x5A.yaml
/config/config-sbc2ha-new/.gitignore
/config/config-typescript/out/action/ActionConfig.ts
/config/config-typescript/out/action/CoverActionConfig.ts
/config/config-typescript/out/action/MqttActionConfig.ts
/config/config-typescript/out/action/OutputActionConfig.ts
/config/config-typescript/out/actuator/ActuatorConfig.ts
/config/config-typescript/out/actuator/CoverConfig.ts
/config/config-typescript/out/actuator/GpioOutputConfig.ts
/config/config-typescript/out/actuator/McpOutputConfig.ts
/config/config-typescript/out/actuator/PcaOutputConfig.ts
/config/config-typescript/out/enums/deviceClass/ha/BinarySensorDeviceClassType.ts
/config/config-typescript/out/enums/deviceClass/ha/ButtonDeviceClassType.ts
/config/config-typescript/out/enums/deviceClass/ha/CoverDeviceClassType.ts
/config/config-typescript/out/enums/deviceClass/ha/SensorDeviceClassType.ts
/config/config-typescript/out/enums/deviceClass/ha/SwitchDeviceClassType.ts
/config/config-typescript/out/enums/deviceClass/ModbusDeviceClassType.ts
/config/config-typescript/out/enums/deviceClass/ThermDeviceClassType.ts
/config/config-typescript/out/enums/ActionCoverType.ts
/config/config-typescript/out/enums/ActionOutputType.ts
/config/config-typescript/out/enums/ActionType.ts
/config/config-typescript/out/enums/ActuatorType.ts
/config/config-typescript/out/enums/ButtonState.ts
/config/config-typescript/out/enums/InputKindType.ts
/config/config-typescript/out/enums/InputSensorAction.ts
/config/config-typescript/out/enums/InputSwitchAction.ts
/config/config-typescript/out/enums/Level.ts
/config/config-typescript/out/enums/ModbusRegisterType.ts
/config/config-typescript/out/enums/ModbusReturnType.ts
/config/config-typescript/out/enums/OutputKindType.ts
/config/config-typescript/out/enums/PlatformType.ts
/config/config-typescript/out/enums/ResistanceDirectionType.ts
/config/config-typescript/out/enums/ScreenType.ts
/config/config-typescript/out/enums/StateClassType.ts
/config/config-typescript/out/enums/UartType.ts
/config/config-typescript/out/enums/ValueFilterType.ts
/config/config-typescript/out/extentsionBoard/ExtensionBoardsConfig.ts
/config/config-typescript/out/platform/bus/BusConfig.ts
/config/config-typescript/out/platform/bus/DallasBusConfig.ts
/config/config-typescript/out/platform/bus/Ds2482BusConfig.ts
/config/config-typescript/out/platform/bus/I2cBusConfig.ts
/config/config-typescript/out/platform/bus/Lm75BusConfig.ts
/config/config-typescript/out/platform/bus/Mcp23017BusConfig.ts
/config/config-typescript/out/platform/bus/ModbusBusConfig.ts
/config/config-typescript/out/platform/MqttConfig.ts
/config/config-typescript/out/platform/OledConfig.ts
/config/config-typescript/out/platform/PlatformConfig.ts
/config/config-typescript/out/sensor/analog/AnalogSensorConfig.ts
/config/config-typescript/out/sensor/analog/NtcConfig.ts
/config/config-typescript/out/sensor/analog/ResistanceConfig.ts
/config/config-typescript/out/sensor/digital/InputConfig.ts
/config/config-typescript/out/sensor/digital/InputSensorConfig.ts
/config/config-typescript/out/sensor/digital/InputSwitchConfig.ts
/config/config-typescript/out/sensor/modbus/ModbusSensorDefinition.ts
/config/config-typescript/out/sensor/modbus/Register.ts
/config/config-typescript/out/sensor/modbus/RegisterBase.ts
/config/config-typescript/out/sensor/oneWire/therm/ds2482/DS18B20busDS2482.ts
/config/config-typescript/out/sensor/oneWire/therm/fs/DS18B20busFs.ts
/config/config-typescript/out/sensor/oneWire/therm/DS18B20.ts
/config/config-typescript/out/sensor/oneWire/therm/OneWireTherm.ts
/config/config-typescript/out/sensor/BusSensorConfig.ts
/config/config-typescript/out/sensor/Lm75SensorConfig.ts
/config/config-typescript/out/sensor/ModbusSensorConfig.ts
/config/config-typescript/out/sensor/ScalarSensorConfig.ts
/config/config-typescript/out/sensor/ScheduledSensorConfig.ts
/config/config-typescript/out/sensor/SensorConfig.ts
/config/config-typescript/out/sensor/SingleSourceConfig.ts
/config/config-typescript/out/sensor/ThermBusSensorConfig.ts
/config/config-typescript/out/AppConfig.ts
/config/config-typescript/out/config-1.yaml
/config/config-typescript/out/config-2.yaml
/config/config-typescript/out/config-3.yaml
/config/config-typescript/out/LoggerConfig.ts
/config/config-typescript/config.json
/config/config-typescript/package.json
/config/config-typescript/sbc2ha.zip
