<h1 mat-dialog-title>platform oled</h1>
<div mat-dialog-content>
    <form [formGroup]="platform" class="form1">

        <mat-label>Enabled</mat-label>
        <mat-checkbox [formControl]="enabledCtrl"></mat-checkbox>

        <mat-form-field>
            <mat-label>Screens</mat-label>
            <mat-select [formControl]="screensCtrl" multiple>
                <mat-option *ngFor="let type of ScreenType | keyvalue" value="{{type.key}}">{{type.key}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Screen saver timeout</mat-label>
            <input matInput [formControl]="screensaverTimeoutCtrl">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="add()" *ngIf="!data?.config"
            [disabled]="!isValid()">Add
    </button>
    <button mat-raised-button color="primary" (click)="edit()" *ngIf="data?.config"
            [disabled]="!isValid()">Save
    </button>
</div>
