<h1 mat-dialog-title>Binary sensor</h1>
<div mat-dialog-content>
  <form [formGroup]="platform" class="form1">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameCtrl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Digital input</mat-label>
      <mat-select [formControl]="inputCtrl" >
        <mat-option *ngFor="let digital of getDigitalInputs()" value="{{digital}}">{{digital}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label>Show in Ha</mat-label>
    <mat-checkbox [formControl]="showInHaCtrl"></mat-checkbox>

    <mat-form-field>
      <mat-label>Bounce time</mat-label>
      <input matInput [formControl]="bounceTimeCtrl">
    </mat-form-field>

    <mat-label>Inverted</mat-label>
    <mat-checkbox [formControl]="invertedCtrl"></mat-checkbox>

    <mat-form-field>
      <mat-label>Device class</mat-label>
      <mat-select [formControl]="deviceClassCtrl" >
        <mat-option *ngFor="let deviceClass of BinarySensorDeviceClassType | keyvalue " value="{{deviceClass.key}}">{{deviceClass.key}}</mat-option>
      </mat-select>
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="add()" *ngIf="!data?.config">Add</button>
  <button mat-raised-button color="primary" (click)="edit()" *ngIf="data?.config">Save</button>
</div>
