/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.error {
  .mdc-snackbar__surface {
    background-color: orangered ;
  }
  .mdc-snackbar__label{
    color: white;
  }
}
mat-card{
  margin: 1rem;
}

