<h1 mat-dialog-title>platform {{data.platformType}}</h1>
<div mat-dialog-content>
    <form [formGroup]="platform" class="form1">
        <mat-form-field>
            <mat-label>BusId</mat-label>
            <input matInput [formControl]="busIdCtrl">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput [formControl]="addressCtrl">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="add()" *ngIf="!data?.config"
            [disabled]="!platform.valid">Add
    </button>
    <button mat-raised-button color="primary" (click)="edit()" *ngIf="data?.config"
            [disabled]="!platform.valid">Save
    </button>
</div>
