.content {
  //display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.form1 {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
